.login {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &__logo {
        display: block;
        margin: 64px auto 0;
        width: 50vw;
        min-width: 300px;
        max-width: 480px;
    }
    &__forms {
        width: 300px;
        border-radius: 4px;
        margin: 80px auto 0;
        background: rgba(0,0,0,.12);
        box-shadow: 0 0 8px rgba(0,0,0,.2) inset;
        form {
            padding: 30px;
        }
        input[type=email], input[type=password] {
            display: block;
            margin: 0 0 20px;
            background-color: white;
            opacity: .54;
            width: 100%;
            padding: 15px;
            border: none;
            border-radius: 4px;
            transition: all 0.2s ease;
            &:focus {
                opacity: .87;
            }
        }
        input[type=submit] {
            display: block;
            margin: 0 auto;
            min-width: 120px;
        }
    }
    &__title {
        color: white;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 30px;
        border-bottom: 1px solid rgba(255,255,255,.12);
    }
    &__link {
        display: block;
        margin: 0 0 20px;
    }
    &__form {

    }
    &__reset {

    }
}
