<div class="login">
    <a ui-sref="PROJECT_NAME.home"><img src="/assets/img/logo.png" class="login__logo"></a>
    <div class="login__forms">
        <h4 class="login__title">Login</h4>
        <form ng-submit="LoginCtrl.login()" ng-if="!LoginCtrl.showReset" class="login__form">
            <p class="error" ng-if="LoginCtrl.error">{{ LoginCtrl.error }}</p>
            <input type="email" name="username" id="username" ng-model="LoginCtrl.username" placeholder="Email Address">
            <input type="password" name="password" id="password" ng-model="LoginCtrl.password" placeholder="Password">
            <center>
                <a href="" class="login__link" ng-click="LoginCtrl.showReset = !LoginCtrl.showReset">
                    Forgot Password?
                </a>
                <button type="submit" class="btn"
                    ng-disabled="!LoginCtrl.username || !LoginCtrl.password">
                    Login
                </button>
            </center>
            <social-auth oauth="oauth" ng-repeat="oauth in LoginCtrl.oauth"></social-auth>
        </form>

        <form ng-submit="LoginCtrl.reset()" ng-if="LoginCtrl.showReset" class="login__reset">
            <input type="email" id="email" name="username" placeholder="Email Address" ng-model="LoginCtrl.username">
            <a href="" class="login__link" ng-click="LoginCtrl.showReset = !LoginCtrl.showReset">
                Remember Password?
            </a>
            <button type="submit" class="btn">Reset Password</button>
        </form>
    </div>
</div>
