/* Color variables and mixins
---------------------------------------- */

/* Define color variables */
/* Example: @gray-dkest: #212121; */
@gray: #808080; // rgb(128,128,128)
@yellow: yellow;
@blue: blue;
@red: red;
@green: green;

/* Set color classes */
/* Example: .gray-dkest { color: @gray-dkest; } */
.white { color: white; }
.black { color: black; }
.gray { color: @gray; }
.yellow { color: @yellow; }
.blue { color: @blue; }
.red { color: @red; }
.green { color: @green; }

/* Set bg-color classes */
/* Example: .gray-dkest-bg { background-color: @gray-dkest; } */
.white-bg { background-color: white; }
.black-bg { background-color: black; }
.gray-bg { background-color: @gray; }
.yellow-bg { background-color: @yellow; }
.blue-bg { background-color: @blue; }
.red-bg { background-color: @red; }
.green-bg { background-color: @green; }
