<!DOCTYPE html>
<html ng-controller="MainController as MainCtrl">
    <head>
        <title>Todo</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <base href="/">

        <!-- compiled CSS --><% styles.forEach(function(file) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>"><% }); %>
    </head>
    <body>
        <div ui-view="main"></div>

        <!-- compiled JavaScript --><% scripts.forEach(function (file) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
        <script>
            System.baseURL = '/';
            System.transpiler = 'babel';
            System
                .import('app/app')
                .then(function () {
                    angular.element(document).ready(function () {
                        angular.bootstrap(document, ['todomvc']);
                    });
                })
                .catch(function (e) {
                    console.error(e.stack || e);
                });
        </script>
    </body>
</html>
