<!DOCTYPE html>
<html ng-controller="MainController as MainCtrl">
    <head>
        <title>Todo</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>document.write('<base href="' + document.location + '">');</script>

        <!-- compiled CSS --><% styles.forEach(function(file) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>"><% }); %>
    </head>
    <body>
        <a ui-sref="todoList">Todo List</a>

        <div ui-view="main"></div>

        <!-- compiled JavaScript --><% scripts.forEach(function (file) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
        <script>
            System.import('app/app').then(function () {
                angular.element(document).ready(function () {
                    angular.bootstrap(document, ['todomvc']);
                });
            });
        </script>
    </body>
</html>
