<!DOCTYPE html>
<html ng-controller="TodoController as TodoCtrl" ng-cloak>
    <head>
        <title>Todo</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>document.write('<base href="' + document.location + '">');</script>

        <!-- compiled CSS --><% styles.forEach(function(file) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>"><% }); %>
    </head>
    <body>
        <h2>To Do List</h2>
        <div>
            {{ TodoCtrl.todoList.getUncompletedCount() }} of {{ TodoCtrl.todoList.length }} remaining
            <button ng-click="TodoCtrl.todoList.archiveCompleted()">Archive Completed</button>
        </div>
        <br>

        <form ng-submit="TodoCtrl.addTodo()">
            <input type="text" ng-model="TodoCtrl.todoText" size="30" placeholder="enter new todo here" autofocus>
            <input type="submit" value="Add" ng-disabled="!TodoCtrl.todoText">
        </form>

        <ul class="unstyled">
            <li ng-repeat="(timestamp, todo) in TodoCtrl.todoList.todos">
                <form>
                    <input type="checkbox" ng-model="todo.done">
                    <span class="done-{{ todo.done }}">{{ todo.text }}</span>
                    <input type="button" ng-click="TodoCtrl.todoList.remove(todo)" value="Delete">
                </form>
            </li>
        </ul>

        <!-- compiled JavaScript --><% scripts.forEach(function (file) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
        <script>
            System.import('app/app').then(function () {
                angular.bootstrap(document, ['Todo']);
            });
        </script>
    </body>
</html>
