$gray-dkest: #212121;
$gray-dker: #312F2B;
$gray-dk: #424142;
$gray: #7A7A7A;
$gray-lt: #D7D7D7;
$gray-lter: #E7E7E7;
$gray-ltest: #F5F5F5;
$orange: #FF9805;
$orange-dk: #F57C00;
$orange-dker: #EF6B00;
$orange-lt: #FFB040;
$green: #5DB588;
$red: #D0021B;

.white { color: white; }
.black { color: black; }
.gray { color: $gray; }
.gray-dkest { color: $gray-dkest; }
.gray-dker { color: $gray-dker; }
.gray-dk { color: $gray-dk; }
.gray-lt { color: $gray-lt; }
.gray-lter { color: $gray-lter; }
.gray-ltest { color: $gray-ltest; }
.orange { color: $orange; }
.orange-dk { color: $orange-dk; }
.orange-dker { color: $orange-dker; }
.orange-lt { color: $orange-lt; }
.green { color: $green; }
.red { color: $red; }

.white-bg { background-color: white; }
.black-bg { background-color: black; }
.gray-bg { background-color: $gray; }
.gray-dkest-bg { background-color: $gray-dkest; }
.gray-dker-bg { background-color: $gray-dker; }
.gray-dk-bg { background-color: $gray-dk; }
.gray-lt-bg { background-color: $gray-lt; }
.gray-lter-bg { background-color: $gray-lter; }
.gray-ltest-bg { background-color: $gray-ltest; }
.orange-bg { background-color: $orange; }
.orange-dk-bg { background-color: $orange-dk; }
.orange-dker-bg { background-color: $orange-dker; }
.orange-lt-bg { background-color: $orange-lt; }
.green-bg { background-color: $green; }
.red-bg { background-color: $red; }
