/* IZENI DEFAULTS
---------------------------------------- */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 320px;
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }

/* Clearing */
@mixin clear {
    clear: both;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

@mixin clearfix {
    &:before, &:after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
        zoom: 1;
    }
    &:after {
        clear: both;
    }
}

/* List styling */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin disc {
    list-style: disc outside;
    margin-left: 20px;
}

/* Remove shadow and outline on focus */
input[type=name], input[type=email], input[type=text], input[type=tel], input[type=submit],
input[type=number], input[type=password], input[type=url], textarea, button, a, select {
    &:focus {
        outline: none !important;
        box-shadow: 0,0,0,transparent;
        text-decoration: none;
    }
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    outline: none;
    box-shadow: 0,0,0,transparent;
}

/* images can't be wider than their containers */
img { max-width: 100%; }

/* tables inherit font size (some browsers set a default table font size) */
table { font-size: inherit; }

/* set cursor to pointer for specific elements */
a, [ui-sref], [ng-click] {
    cursor: pointer;
    outline: none;
}
