/* IZENI DEFAULTS
---------------------------------------- */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 320px;
}

/* ng-cloak */
[ng\:cloak], [ng-cloak], .ng-cloak { display: none !important; }

/* Clearing */
@mixin clear {
    clear: both;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

@mixin clearfix {
    &:before, &:after {
        content: '\0020';
        display: block;
        overflow: hidden;
        visibility: hidden;
        width: 0;
        height: 0;
        zoom: 1;
    }
    &:after {
        clear: both;
    }
}

/* List styling */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@mixin disc {
    list-style: disc outside;
    margin-left: 20px;
}

/* Remove shadow and outline on focus */
input[type=name], input[type=email], input[type=text], input[type=tel], input[type=submit],
input[type=number], input[type=password], input[type=url], textarea, button, a, select {
    &:focus {
        outline: none !important;
        box-shadow: 0,0,0,transparent;
        text-decoration: none;
    }
}

input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {
    outline: none;
    box-shadow: 0,0,0,transparent;
}

/* images can't be wider than their containers */
img { max-width: 100%; }

/* tables inherit font size (some browsers set a default table font size) */
table { font-size: inherit; }

/* set cursor to pointer for specific elements */
a { cursor: pointer; }
[ui-sref] { cursor: pointer; }

/* Values for margins and padding */
$bigger: 48px;
$big: 32px;
$regular: 24px;
$small: 16px;
$smaller: 8px;

/* Margins */
.margin-bigger { margin: $bigger; }
.margin-big { margin: $big; }
.margin { margin: $regular; }
.margin-small { margin: $small; }
.margin-smaller { margin: $smaller; }
.no-margin { margin: 0; }

.bigger-bottom { margin-bottom: $bigger; }
.big-bottom { margin-bottom: $big; }
.margin-bottom { margin-bottom: $regular; }
.small-bottom { margin-bottom: $small; }
.smaller-bottom { margin-bottom: $smaller; }
.no-bottom { margin-bottom: 0; }

.bigger-top { margin-top: $bigger; }
.big-top { margin-top: $big; }
.margin-top { margin-top: $regular; }
.small-top { margin-top: $small; }
.smaller-top { margin-top: $smaller; }
.no-top { margin-top: 0; }

.bigger-right {    margin-right: $bigger; }
.big-right { margin-right: $big; }
.margin-right { margin-right: $regular; }
.small-right { margin-right: $small; }
.smaller-right { margin-right: $smaller; }
.no-right { margin-right: 0; }

.bigger-left { margin-left: $bigger; }
.big-left { margin-left: $big; }
.margin-left { margin-left: $regular; }
.small-left { margin-left: $small; }
.smaller-left { margin-left: $smaller; }
.no-left { margin-left: 0; }

/* Padding */
.padding-bigger { padding: $bigger; }
.padding-big { padding: $big; }
.padding { padding: $regular; }
.padding-small { padding: $small; }
.padding-smaller { padding: $smaller; }
.no-padding { padding: 0; }

.padding-bigger-bottom { padding-bottom: $bigger; }
.padding-big-bottom { padding-bottom: $big; }
.padding-bottom { padding-bottom: $regular; }
.padding-small-bottom { padding-bottom: $small; }
.padding-smaller-bottom { padding-bottom: $smaller; }
.padding-no-bottom { padding-bottom: 0; }

.padding-bigger-top { padding-top: $bigger; }
.padding-big-top {padding-top: $big; }
.padding-top { padding-top: $regular; }
.padding-small-top { padding-top: $small; }
.padding-smaller-top { padding-top: $smaller; }
.padding-no-top { padding-top: 0; }

.padding-bigger-right { padding-right: $bigger; }
.padding-big-right { padding-right: $big; }
.padding-right { padding-right: $regular; }
.padding-small-right { padding-right: $small; }
.padding-smaller-right { padding-right: $smaller; }
.padding-no-right { padding-right: 0; }

.padding-bigger-left { padding-left: $bigger; }
.padding-big-left { padding-left: $big; }
.padding-left { padding-left: $regular; }
.padding-small-left { padding-left: $small; }
.padding-smaller-left { padding-left: $smaller; }
.padding-no-left { padding-left: 0; }
