/* IZENI MIXINS
---------------------------------------- */

@mixin no-shadow { box-shadow: 0 0 0 transparent; }

@mixin transition ($property: all, $duration: .2s, $timing-function: ease) {
    transition: $property $duration $timing-function;
}

@mixin no-transition { transition: none; }

@mixin columns($column-count: 3, $column-gap: 20px) {
    column-count: $column-count;
    column-gap: $column-gap;
}

@mixin font-range($min-size, $max-size, $min-width: 320, $max-width: 1440) {
    font-size: calc(#{$min-size}px + (#{$max-size} - #{$min-size}) * (100vw - #{$min-width}px) / (#{$max-width} - #{$min-width}));

    @media screen and (max-width: #{$min-width}px) {
        font-size: #{$min-size}px;
    }
    @media screen and (min-width: #{$max-width}px) {
        font-size: #{$max-size}px;
    }
}
