/* TYPOGRAPHY
---------------------------------------- */

/* Font Weights
---------------------------------------- */

@mixin light { font-weight: 300; }
@mixin normal { font-weight: 400; }
@mixin medium { font-weight: 500; }
@mixin bold { font-weight: 700; }


/* General typographic rules
---------------------------------------- */

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    @include normal;
    color: color(gray);
    line-height: 1.4;
}


/* Font sizes
---------------------------------------- */

/* base font-size set at 16px, above */
h1 { font-size: 2.25em; } //36px
h2 { font-size: 1.31em; } //21px
h3 { font-size: 1.13em; } //18px
h5 { font-size: 0.81em; } //13px
h6 { font-size: 0.75em; } //12px
