<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
        <form id="todo-form" ng-submit="TodoCtrl.addTodo()">
            <input id="new-todo" placeholder="What needs to be done?" ng-model="TodoCtrl.newTodo" ng-disabled="TodoCtrl.saving" autofocus>
        </form>
    </header>
    <section id="main" ng-show="TodoCtrl.todos.length">
        <input id="toggle-all" type="checkbox" ng-model="TodoCtrl.allChecked" ng-click="TodoCtrl.markAll(TodoCtrl.allChecked)">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">
            <li ng-repeat="todo in TodoCtrl.todos | filter:TodoCtrl.statusFilter track by $index" ng-class="{completed: todo.completed, editing: todo == TodoCtrl.editedTodo}">
                <div class="view">
                    <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="TodoCtrl.toggleCompleted(todo)">
                    <label ng-dblclick="TodoCtrl.editTodo(todo)">{{todo.title}}</label>
                    <button class="destroy" ng-click="TodoCtrl.removeTodo(todo)"></button>
                </div>
                <form ng-submit="TodoCtrl.saveEdits(todo, 'submit')">
                    <input class="edit" ng-trim="false" ng-model="todo.title" todo-escape="TodoCtrl.revertEdits(todo)" ng-blur="TodoCtrl.saveEdits(todo, 'blur')" todo-focus="todo == TodoCtrl.editedTodo">
                </form>
            </li>
        </ul>
    </section>
    <footer id="footer" ng-show="TodoCtrl.todos.length">
        <span id="todo-count"><strong>{{ TodoCtrl.remainingCount }}</strong>
            <ng-pluralize count="TodoCtrl.remainingCount" when="{ one: 'item left', other: ' items left' }"></ng-pluralize>
        </span>
        <ul id="filters">
            <li>
                <a ng-class="{selected: TodoCtrl.status == ''} " href="#/">All</a>
            </li>
            <li>
                <a ng-class="{selected: TodoCtrl.status == 'active'}" href="#/active">Active</a>
            </li>
            <li>
                <a ng-class="{selected: TodoCtrl.status == 'completed'}" href="#/completed">Completed</a>
            </li>
        </ul>
        <button id="clear-completed" ng-click="TodoCtrl.clearCompletedTodos()" ng-show="TodoCtrl.completedCount">Clear completed ({{ TodoCtrl.completedCount }})</button>
    </footer>
</section>
<footer id="info">
    <p>Double-click to edit a todo</p>
    <p>Credits:
        <a href="http://twitter.com/cburgdorf">Christoph Burgdorf</a>,
        <a href="http://ericbidelman.com">Eric Bidelman</a>,
        <a href="http://jacobmumm.com">Jacob Mumm</a> and
        <a href="http://igorminar.com">Igor Minar</a>
    </p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
